:root {
  --font-family: "Source Sans 3", sans-serif;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --gap: 20px;
  --section-offset: 80px;
  --lg: 32px;
  --accent: #607ce6;
  --dark: #333;
  --light: #fff;
  --third: #d9d9d9;
  --gray: #888;
  --light-gray: #f5f5f5;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/../fonts/SourceSans3Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/../fonts/SourceSans3SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/../fonts/SourceSans3Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-offset {
  padding-top: var(--section-offset);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}

.section-title {
  margin: 0;
  margin-bottom: var(--lg);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: var(--dark);
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  padding: 35px 0;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 180px;
}
.header__caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: right;
  color: var(--dark);
}
.header__link {
  border-bottom: 1px solid currentColor;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  color: var(--accent);
}
.header__btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--accent);
}
.header__btn svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 44px;
}
.nav__list--footer {
  display: block;
  columns: 2;
  max-width: 343px;
}
.nav__item--footer:not(:last-child) {
  margin-bottom: 24px;
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--dark);
}
.nav__link--footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--light);
}

.hero__top {
  margin-bottom: var(--lg);
}
.hero__title {
  grid-column: 6 span;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: var(--dark);
}
.hero__descr {
  grid-column: 4 span;
  margin: 0;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--dark);
}

.about__text {
  column-gap: var(--gap);
  margin-bottom: var(--lg);
  row-gap: 24px;
}
.about__descr {
  grid-column: 6 span;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--dark);
}
.about__image {
  grid-column: 6 span;
}

.products__item {
  grid-column: 4 span;
}

.products-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 24px;
  min-height: 435px;
  background: var(--light-gray);
}
.products-card__image {
  max-height: 200px;
}
.products-card__title {
  margin: 0;
  margin-top: auto;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: var(--dark);
}
.products-card__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--accent);
}
.products-card__link::after {
  content: "";
  position: absolute;
  inset: 0;
}
.products-card__link svg {
  width: 6px;
  height: 11px;
  fill: currentColor;
}

.present__map {
  width: calc(100% - 29px);
}
.present__map svg {
  display: block;
  width: 100%;
  object-fit: cover;
}
.present__map path {
  fill: var(--third);
  transition: fill 0.3s;
}
.present__text {
  fill: var(--dark) !important;
}
.present__link {
  position: relative;
}
.present__link::before {
  content: "sdfsdf ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--dark);
}
@media (any-hover: hover) {
  .present__link:hover path {
    fill: var(--light-gray);
  }
}

.news {
  padding-bottom: var(--section-offset);
}
.news__item {
  grid-column: 4 span;
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 478px;
  background: var(--light-gray);
}
.news-card__inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  padding-bottom: 24px;
}
.news-card__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark);
}
.news-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}
.news-card__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--accent);
}
.news-card__link::after {
  content: "";
  position: absolute;
  inset: 0;
}
.news-card__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray);
}