:root {
  --font-family: "Source Sans 3", sans-serif;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --gap: 20px;
  --section-offset: 80px;
  --lg: 32px;
  --accent: #607ce6;
  --dark: #333;
  --light: #fff;
  --third: #d9d9d9;
  --gray: #888;
  --light-gray: #f5f5f5;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/../fonts/SourceSans3Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/../fonts/SourceSans3SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../fonts/../fonts/SourceSans3Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-offset {
  padding-top: var(--section-offset);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}
@media (max-width: 768px) {
  .grid {
    column-gap: var(--gap);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
  }
}

.section-title {
  margin: 0;
  margin-bottom: var(--lg);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: var(--dark);
}
@media (max-width: 768px) {
  .section-title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  :root {
    --section-offset: 60px;
    --lg: 20px;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  padding: 35px 0;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
@media (max-width: 1024px) {
  .header__bottom {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    padding: 28px;
    width: 75%;
    height: 100vh;
    max-width: 300px;
    box-shadow: 10px 0px 13px -5px rgba(34, 60, 80, 0.2);
    background-color: var(--light);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-150%);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 140px;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
@media (max-width: 1024px) {
  .header__contacts {
    display: none;
  }
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 180px;
}
.header__contact--mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header__contact--mobile {
    display: flex;
    align-items: flex-start;
  }
  .header__contact--mobile:not(:last-of-type) {
    margin-bottom: var(--lg);
  }
}
.header__caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: right;
  color: var(--dark);
  text-align: start;
}
.header__link {
  border-bottom: 1px solid currentColor;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  color: var(--accent);
  transition: color 0.3s ease-in-out;
}
.header__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: #364fa8;
  }
}
.header__link:active {
  color: #364fa8;
}
.header__btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--accent);
  transition: color 0.3s ease-in-out;
}
.header__btn:focus {
  outline: none;
}
@media (any-hover: hover) {
  .header__btn:hover {
    color: #364fa8;
  }
}
.header__btn:active {
  color: #364fa8;
}
.header__btn svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
@media (max-width: 1024px) {
  .header__btn {
    margin-top: 28px;
    margin-bottom: var(--gap);
  }
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  --burger-height: 20px;
  display: none;
  color: var(--dark);
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
  transform: none;
}

.header__link.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 2px;
}

.header__btn.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 3px;
}

.header__logo.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 3px;
}

.graph-modal__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  padding: 50px 0;
  max-width: 535px;
  margin: 0 auto;
}

.graph-modal__close:focus {
  outline: none;
}

.graph-modal__close.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 3px;
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form__input-box:not(:last-child) {
  margin-bottom: 20px;
}

.form__input-inp {
  border: 1px solid var(--accent);
  border-radius: 0;
  outline: none;
  width: 100%;
  padding: 14px 30px;
  resize: vertical;
}

.form__input-inp:focus {
  outline: var(--accent) 2px solid;
}

.form__btn {
  background-color: var(--accent);
  padding: 14px 30px;
  border-radius: 0;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.form__btn:hover {
  background-color: #364fa8;
}

.form__btn:active {
  background-color: #364fa8;
}

.form__btn:focus {
  outline: var(--accent) 2px solid;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 44px;
}
.nav__list--footer {
  display: block;
  columns: 2;
  max-width: 343px;
}
.nav__list--footer:not(last-child) {
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .nav__list {
    gap: 24px;
  }
}
@media (max-width: 1024px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    max-width: initial;
  }
  .nav__list:not(last-child) {
    margin-right: 0;
  }
}
.nav__item--footer:not(:last-child) {
  margin-bottom: 24px;
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--dark);
  transition: color 0.3s ease-in-out;
}
.nav__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--accent);
  }
}
.nav__link:active {
  color: var(--accent);
}
.nav__link--footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--light);
}

.nav__link.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 3px;
}

.hero__top {
  margin-bottom: var(--lg);
}
.hero__title {
  grid-column: 6 span;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: var(--dark);
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    grid-column: 4 span;
    font-size: 40px;
  }
}
.hero__descr {
  grid-column: 4 span;
  margin: 0;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--dark);
}
@media (max-width: 1024px) {
  .hero__descr {
    grid-column: 6 span;
    padding-top: 16px;
  }
}
@media (max-width: 768px) {
  .hero__descr {
    grid-column: 4 span;
  }
}

.about__text {
  column-gap: var(--gap);
  margin-bottom: var(--lg);
  row-gap: 24px;
}
@media (max-width: 768px) {
  .about__text {
    row-gap: 16px;
  }
}
.about__descr {
  grid-column: 6 span;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--dark);
}
@media (max-width: 768px) {
  .about__descr {
    grid-column: 4 span;
  }
}
@media (max-width: 768px) {
  .about__images {
    row-gap: 16px;
  }
}
.about__image {
  grid-column: 6 span;
  width: 100%;
}
@media (max-width: 768px) {
  .about__image {
    grid-column: 4 span;
  }
}

@media (max-width: 768px) {
  .products__list {
    row-gap: var(--gap);
  }
}
.products__item {
  grid-column: 4 span;
}
.products__item:focus {
  outline: none;
}
@media (max-width: 1024px) {
  .products__item {
    grid-column: 6 span;
  }
}
@media (max-width: 768px) {
  .products__item {
    grid-column: 2 span;
  }
}
@media (max-width: 576px) {
  .products__item {
    grid-column: 4 span;
  }
}

.products-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 24px;
  height: 100%;
  min-height: 435px;
  background: var(--light-gray);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .products-card:hover img {
    transform: scale(1.1);
  }
}
.products-card__image {
  transition: transform 0.3s ease-in-out;
  max-height: 200px;
}
.products-card__title {
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  margin-top: auto;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: var(--dark);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (max-width: 1200px) {
  .products-card__title {
    font-size: 24px;
  }
}
.products-card__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--accent);
  transition: color 0.3s ease-in-out;
}
.products-card__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .products-card__link:hover {
    color: #364fa8;
  }
}
.products-card__link:active {
  color: #364fa8;
}
.products-card__link::after {
  content: "";
  position: absolute;
  inset: 0;
}
.products-card__link svg {
  width: 6px;
  height: 11px;
  fill: currentColor;
}
@media (max-width: 1024px) {
  .products-card {
    min-height: 360px;
  }
}

.products-card__link.focus-visible {
  outline: 1px solid var(--accent);
}

.present__map {
  width: calc(100% - 29px);
}
.present__map svg {
  display: block;
  width: 100%;
  object-fit: cover;
}
.present__map path {
  fill: var(--third);
  transition: fill 0.3s;
}
.present__text {
  fill: var(--dark) !important;
}
.present__link {
  position: relative;
}
.present__link::before {
  content: "sdfsdf ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--dark);
}
@media (any-hover: hover) {
  .present__link:hover path {
    fill: var(--light-gray);
  }
}
@media (max-width: 1024px) {
  .present {
    display: none;
  }
}

.present__link.focus-visible {
  outline: 1px solid var(--accent);
}

.news {
  padding-bottom: var(--section-offset);
}
@media (max-width: 768px) {
  .news__list {
    row-gap: var(--gap);
  }
}
.news__item {
  grid-column: 4 span;
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 478px;
  background: var(--light-gray);
  transition: color 0.3s ease-in-out;
  overflow: hidden;
}
.news-card:focus {
  outline: none;
}
@media (any-hover: hover) {
  .news-card:hover .news-card__link {
    color: #364fa8;
  }
  .news-card:hover .news-card__image img {
    transform: scale(1.1);
    will-change: transform;
  }
}
.news-card:active .news-card__link {
  color: #364fa8;
}
.news-card__image {
  overflow: hidden;
}
.news-card__image img {
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .news-card__image img {
    width: 100%;
  }
}
.news-card__inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  padding-bottom: 24px;
}
.news-card__title {
  display: -webkit-box;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.news-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}
.news-card__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--accent);
  transition: color 0.3s ease-in-out;
}
.news-card__link::after {
  content: "";
  position: absolute;
  inset: 0;
}
.news-card__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray);
}
@media (max-width: 1024px) {
  .news-card {
    min-height: 440px;
  }
}

.news-wrapper {
  position: relative;
}
.news-wrapper .swiper-slide {
  height: auto;
}

.news-btn {
  position: absolute;
  top: 50%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  box-shadow: 10px 0px 23px -5px rgba(34, 60, 80, 0.2);
  background-color: var(--light);
  transform: translateY(-50%);
}
@media (any-hover: hover) {
  .news-btn:hover svg {
    fill: var(--accent);
  }
}
.news-btn:focus {
  outline: none;
}
.news-btn svg {
  width: 24px;
  height: 100%;
  fill: var(--dark);
}
.news-btn--prev {
  left: -30px;
}
.news-btn--next {
  right: -30px;
}

.news-btn.focus-visible {
  outline: 1px solid var(--accent);
}

.news-card__link.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 3px;
}

.footer {
  padding-top: 56px;
  padding-bottom: 24px;
  background: var(--dark);
}
.footer__logo {
  display: inline-block;
}
.footer__logo:focus {
  outline: none;
}
@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: var(--gap);
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 24px;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--light);
  transition: color 0.3s ease-in-out;
}
.footer__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #364fa8;
  }
}
.footer__link:active {
  color: #364fa8;
}
@media (max-width: 768px) {
  .footer__list {
    margin-top: 24px;
  }
}
.footer__col {
  grid-column: 6 span;
}
.footer__col--full {
  grid-column: 12 span;
  margin-top: 70px;
}
.footer__col--flex {
  display: flex;
  gap: 56px;
}
@media (max-width: 1200px) {
  .footer__col--flex {
    gap: 0;
  }
}
@media (max-width: 1024px) {
  .footer__col {
    grid-column: 5 span;
  }
  .footer__col--flex {
    grid-column: 7 span;
  }
  .footer__col--full {
    grid-column: 12 span;
  }
}
@media (max-width: 768px) {
  .footer__col {
    grid-column: 4 span;
  }
  .footer__col--flex {
    flex-direction: column;
  }
}
.footer__copyright {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: var(--light);
}

.footer__link.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 3px;
}

.footer__logo.focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 3px;
}