<section class="hero section-offset">
  <div class="container">
    <div class="hero__top grid">
      <h1 class="hero__title" data-aos="fade-in" data-aos-delay="50">Российский завод силовых машин</h1>
      <p class="hero__descr" data-aos="fade-in" data-aos-delay="150">
        научно-производственное предприятие, занимающееся разработкой и производством силовых машин.
      </p>
    </div>
    <img data-aos="fade-in" data-aos-delay="250" src="img/hero.jpg" srcset="img/hero_2x.jpg 2x"
      alt="Пионер - завод силовых машин" width="1180" height="440" class="hero__image">
  </div>
</section>
